# Distribution / packaging
.Python
*.pyc
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.DS_Store

# Serverless directories
.serverless
env
v-env
page.html
node_modules
venv
data.json
.env
.testmondata
cache.json
